modules = ["bash", "nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0", "python_openai:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "botelier-dashboard"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "botelier-backend"

[[workflows.workflow]]
name = "botelier-dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd botelier/frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "botelier-backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd botelier/backend && python -m uvicorn main:app --host 0.0.0.0 --port 3001 --reload"
waitForPort = 3001

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 33393
externalPort = 3003

[[ports]]
localPort = 34231
externalPort = 3002

[[ports]]
localPort = 35781
externalPort = 3000

[[ports]]
localPort = 41311
externalPort = 4200

[[ports]]
localPort = 42349

[[ports]]
localPort = 43785
externalPort = 5000

[userenv]

[userenv.shared]
NEXTAUTH_SECRET = "l8K81CV1IxcdLFABbGPh0qvZCv0RdqLj8MOjKw+ud9s="
NEXTAUTH_URL = "https://7862d0f9-746c-4a00-bc3b-fe2d01757149-00-34304m7qlgqdq.riker.replit.dev"
